.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start / col-end 6;

  background-image: linear-gradient(rgba($color-secondary, 0.93), rgba($color-secondary, 0.93)),
    url(../img/hero.jpeg);
  background-position: center;
  padding: 4rem 8rem 8rem;

  display: grid;
  justify-content: center;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
  }

  // Put realtor into new row
  @media only screen and (max-width: $bp-small) {
    padding: 5rem;
  }

  &__logo {
    height: 3rem;
    justify-self: center;
  }

  &__btn {
    align-self: start;
    justify-self: start;
  }

  &__seenon-text {
    font-size: 1.6rem;
    color: $color-grey-light-2;

    // Text and pseudo elements can be treated as grid items
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    grid-column-gap: 1.5rem;

    &::before {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor; // Current text color as background color
    }

    &::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }

  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    justify-items: center;
    align-items: center;

    img {
      max-height: 2.5rem;
      max-width: 100%;

      // Make images darker
      filter: brightness(70%);
    }
  }
}
